<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bond.Core.CSharp" version="8.0.0" targetFramework="net461" />
  <package id="Bond.CSharp" version="8.0.0" targetFramework="net461" />
  <package id="Bond.Runtime.CSharp" version="8.0.0" targetFramework="net461" />
  <package id="Microsoft.CognitiveServices.Speech" version="0.6.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.8.145" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.145" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net461" />
  <package id="NAudio" version="1.8.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>